:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

h2 {
  font-size: 48px;
  color: #b2b6b7;
  text-shadow: #565656;
}

h1 {
  font-size: 96px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
  font-family: "Pacifico";
}

h3 {
  color: #565656;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 2px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subheading {
  background: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 0%;
}

.cartoon-small {
  max-height: 40px;
}

.bg {
  background: hsla(254, 68%, 9%, 1);

  background: linear-gradient(
    90deg,
    hsla(254, 68%, 9%, 1) 0%,
    hsla(269, 97%, 37%, 1) 33%,
    hsla(320, 77%, 55%, 1) 66%,
    hsla(316, 41%, 93%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(254, 68%, 9%, 1) 0%,
    hsla(269, 97%, 37%, 1) 33%,
    hsla(320, 77%, 55%, 1) 66%,
    hsla(316, 41%, 93%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(254, 68%, 9%, 1) 0%,
    hsla(269, 97%, 37%, 1) 33%,
    hsla(320, 77%, 55%, 1) 66%,
    hsla(316, 41%, 93%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E0725", endColorstr="#5C03BC", GradientType=1 );
}

@keyframes hero-1 {
  1% {
    background-color: #d8f5fd;
  }

  25% {
    background-color: #f2f0f2;
  }

  50% {
    background-color: #eb7d97;
  }

  75% {
    background-color: #94474a;
  }

  100% {
    background-color: #d8f5fd;
  }
}

footer {
  margin: 60px 0;
  margin-top: 100px;
}

footer .contact-box {
  background: linear-gradient(
    90.5deg,
    rgb(35, 210, 255) 0.3%,
    rgb(74, 104, 247) 18.2%,
    rgb(133, 80, 255) 36.4%,
    rgb(198, 59, 243) 52.5%,
    rgb(250, 84, 118) 68.8%,
    rgb(255, 223, 67) 99.9%
  );
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer h2 {
  color: #32a9fc;
}

footer .email-link {
  text-decoration: none;
  color: #c50d66;
  font-size: 24px;
}

footer .email-link:hover {
  color: #32a9fc;
  transition: all 100ms ease-in-out;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #c50d66;
  background: var(--branding-color);
}

@media (max-width: 320px) {
  hero {
    display: grid;
    font-size: smaller;
    grid-column: 2 / span 12;
  }

  main {
    margin-bottom: 20px;
    display: grid;
    font-size: 1em;
    grid-column: 2 / span 8;
    /* animation: fade-up 0.5s; */
  }
}

@media (max-width: 3200px) {
  iframe {
    display: grid;
    grid-column: 1 / span 2;
  }
}

/* iframe {
  position: relative;
  height: 400px;
  width: 400px;
} */

.hero {
  padding: 140px 10px;
  animation-name: hero-1;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

.navigation-links a {
  margin: 20px 10px;
  margin-top: 0px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: underline;
}
.active {
  color: #c50d66 !important;
}

.workInquiry {
  margin-bottom: none;
}

@keyframes animation-1 {
  from {
    left: -30%;
  }

  to {
    left: 100%;
  }
}

.animationLaptopGirl {
  margin-top: none;
  margin-bottom: none;
  text-align: center;
  font-size: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  animation-name: animation-1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes animation-2 {
  from {
    left: -30%;
  }

  to {
    left: 100%;
  }
}

.animationContact {
  margin-top: none;
  text-align: center;
  font-size: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  animation-name: animation-2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* <-- about.html -- >  */

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.prevBtn,
.nextBtn {
  font-family: "Antonio", sans-serif;
  top: 97%;
  background: linear-gradient(
    98.3deg,
    rgb(0, 0, 0) 10.6%,
    rgb(255, 0, 0) 97.7%
  );
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}
.nextBtn {
  right: 10rem;
}
.prevBtn {
  left: 10rem;
  position: relative;
}

.slider-container {
  border: 5px solid;
  width: 600px;
  margin: 0 auto; /* "margin: 0 auto" property is a commonly used CSS property that allows developers to horizontally center elements within their container. The "auto" value for the margin property is what enables this centering to occur. */
  height: 500px;
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.bird-box-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin-top: -300px;
}

.tie-dye-img {
  margin-top: -30px;
}

.hp-clay-img {
  margin-top: -90px;
}

.glow-2-img {
  margin-top: -100px;
}
